/**
 * Created by root on 15-7-1.
 */
.transform{
    float: left;
    border: dashed 1px black;
    width: 400px;
}
.transform div{
    width: 200px;
    height: 100px;
    background-color: aqua;
    border: solid 1px black;
    margin: 50px 0;
}
.translate{
    transform: translate(50px,0px);/*normal*/
    -ms-transform: translate(50px,0px);/*IE9*/
    -webkit-transform: translate(50px,0px);/*safari and chrome*/
    -moz-transform: translate(50px,0px);/*opera*/
    -o-transform: translate(50px,0px);/*Firefox*/
}
.rotate{
    transform: rotate(30deg);/*normal*/
    -ms-transform: rotate(30deg);/*IE9*/
    -webkit-transform: rotate(30deg);/*safari*/
    -moz-transform: rotate(30deg);/*opera*/
    -o-transform: rotate(30deg);/*Firefox*/
}
.scale{
    transform: scale(1.5,1.5);/*normal*/
    -ms-transform: scale(1.5,1.5);/*IE9*/
    -webkit-transform: scale(1.5,1.5);/*safari*/
    -moz-transform: scale(1.5,1.5);/*opera*/
    -o-transform: scale(1.5,1.5);/*Firefox*/
}
.skew{
    transition: transform 3s;
    -webkit-transition: transform 3s;
    -moz-transition: transform 3s;
}
.skew:hover{
    transform: skew(50deg,50deg);/*normal*/
    -ms-transform: skew(50deg,50deg);/*IE9*/
    -webkit-transform: skew(50deg,50deg);/*safari*/
    -moz-transform: skew(50deg,50deg);/*opera*/
    -o-transform: skew(50deg,50deg);/*Firefox*/
}
.rotateX{
    transform: rotateX(30deg);
    -webkit-transform: rotateX(30deg);/*safari and chrome*/
    -moz-transform: rotateX(30deg);/*Firefox*/
}
.rotateY{
    transform: rotateY(30deg);
    -webkit-transform: rotateY(30deg);/*safari and chrome*/
    -moz-transform: rotateY(30deg);/*Firefox*/
}
.transitionWidth{
    transition: width 1s linear ;
    -webkit-transition: width 1s linear ;
    -moz-transition: width 1s;
    -o-transition: width 1s;
}
.transitionWidth:hover{
    width: 300px;
}
.transitionPosition{
    position: absolute;
    top:150px;
    transition: top 3s,width 3s;
    -webkit-transition: top 3s,width 3s;
    -moz-transition: top 3s,width 3s;
    -o-transition: top 3s,width 3s;
}
.transitionPosition:hover{
    top: 300px;
    width: 600px;
}
.animationBackground{
    animation:animationBackground 1s;
    -moz-animation:animationBackground 1s;
    -webkit-animation:animationBackground 1s;
    -o-animation: animationBackground 1s;
}
@keyframes animationBackground {
    from{background-color: aqua}
    to{background-color: lime}
}
@-moz-keyframes animationBackground {
    from{background-color: aqua}
    to{background-color: lime}
}
@-webkit-keyframes animationBackground {
    from{background-color: aqua}
    to{background-color: lime}
}
@-o-keyframes animationBackground {
    from{background-color: aqua}
    to{background-color: lime}
}
.animationMove{
    position: relative;
    left: 0;
    top: 0;
    animation:animationMove 5s;
    -moz-animation:animationMove 5s;
    -webkit-animation:animationMove 5s;
    -o-animation: animationMove 5s;
}
@keyframes animationMove {
    from{
        background-color: aqua;
    }
    to{
        background-color: lime;
        left: 200px;
        transform: rotate(480deg);
    }
}
@-moz-keyframes animationMove {
    from{background-color: aqua}
    to{background-color: lime}
}
@-webkit-keyframes animationMove {
    from{background-color: aqua}
    to{background-color: lime}
}
@-o-keyframes animationMove {
    from{background-color: aqua}
    to{background-color: lime}
}